<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="toolbar">
    <a href="javascript:addBook()" class="easyui-linkbutton"  data-options="iconCls:'icon-add',plain:true">添加</a>
    <a href="javascript:updateBook()" class="easyui-linkbutton"  data-options="iconCls:'icon-edit',plain:true">修改</a>
    <a href="javascript:deleteBook()" class="easyui-linkbutton"  data-options="iconCls:'icon-remove',plain:true">删除</a>
    <table>
        <tr>
            <td>书籍名称：</td>
            <td><input class="easyui-textbox" name="bookname"  id="bookname" style="width:200px;height:24px;"></td>
            <td><a href="javascript:findBook()"  class="easyui-linkbutton" data-options="iconCls:'icon-search'"  style="width:90px;height:24px;">查找</a></td>
        </tr>
    </table>
</div>
<div id="dialogs" class="easyui-dialog" data-options="closed:true">
    <form id="bookForm">
        <input type="hidden" name="bookid">
        <table>
            <tr>
                <td>音乐名称：</td>
                <td><input class="easyui-textbox"  name="name"  style="width:200px;height:24px;"></td>
            </tr>
            <tr>
                <td>音乐作者：</td>
                <td><input class="easyui-textbox"  name="singer"  style="width:200px;height:24px;"></td>
            </tr>
            <tr>
                <td>音乐价格：</td>
                <td><input class="easyui-textbox"  name="price"  style="width:200px;height:24px;"></td>
            </tr>
            <tr>
                <td>出版日期：</td>
                <td><input class="easyui-datebox"  name="time"  style="width:200px;height:24px;"></td>
            </tr>
        </table>
    </form>
</div>
<table id="table" data-options="fit:true"></table>
<script type="text/javascript">
    $('#table').datagrid({
        url:'../music/query',
        method:"post",
        pagination:true,
        pageNumber:1,
        pageSize:3,
        pageList:[3,5,10,15,1],
        fitColumns:true,
        ctrlSelect:true,
        toolbar:'#toolbar',
        columns:[
            [
            {field:'checks',title:'',checkbox:true,width:100,align:'center'},
            {field:'id',title:'音乐编号',width:100,align:'center'},
            {field:'name',title:'音乐名称',width:100,align:'center'},
            {field:'time',title:'出版日期',width:100,align:'center'},
            {field:'singer',title:'音乐作者',width:100,align:'center'},
            {field:'price',title:'音乐价格',width:100,align:'center'}
            ]
        ]
    });
    function findBook(){
        var queryParams={
            "name":$('#name').val()
        };
        $('#table').datagrid('load', queryParams);
    }
    function addBook(){
        $("#bookForm").form('reset');
        $('#dialogs').dialog({
            title: '添加数据',
            closable: true,
            closed: false,
            cache: false,
            modal: true ,
            buttons:[{
                text:'保存',
                handler:function(){
                    $.ajax({
                        url:"../music/addMusic",
                        type:"post",
                        data:$("#bookForm").serialize(),
                        dataType:"text",
                        success:function (){
                            $.messager.alert('提示','新增成功！！！');
                            $('#table').datagrid('reload');
                            $('#dialogs').dialog("close");
                        },
                        error:function (){
                            $.messager.alert('警告','后台错误，请使用debug调试！！！');
                        }
                    })
                }
            },{
                text:'关闭',
                handler:function(){
                    $('#dialogs').dialog("close");
                }
            }]
        });
    }
    function updateBook(){
        var arrs=$("#table").datagrid('getSelections');
        if(arrs.length != 1){
            $.messager.alert("警告","请选择一条要修改的数据！",'error');
        }else{
            var arr = arrs[0];
            $("#bookForm").form('load',arr);
            $('#dialogs').dialog({
                title: '修改数据',
                closable: true,
                closed: false,
                cache: false,
                modal: true ,
                buttons:[{
                    text:'保存',
                    handler:function(){
                        $.ajax({
                            url:"../music/updateMusic",
                            type:"post",
                            data:$("#bookForm").serialize(),
                            dataType:"text",
                            success:function (){
                                $.messager.alert('提示','修改成功！！！');
                                $('#table').datagrid('reload');
                                $('#dialogs').dialog("close");
                            },
                            error:function (){
                                $.messager.alert('警告','后台错误，请使用debug调试！！！');
                            }
                        })
                    }
                },{
                    text:'关闭',
                    handler:function(){
                        $('#dialogs').dialog("close");
                    }
                }]
            });
        }
    }
    function deleteBook(){
        var arrs=$("#table").datagrid('getSelections');
        var ids = "";
        for(var i=0;i<arrs.length;i++){
            ids += ","+arrs[i].bookid;
        }
        ids = ids.substr(1);
        if(ids == ""){
            $.messager.alert('警告','请选择要删除的数据！！！','error');
        }else{
            $.messager.confirm('确认','确认想要删除'+ids+'吗？',function(r){
                if (r){
                    $.get("../music/deleteMusic",  {"ids":ids},function(){
                        $('#table').datagrid('reload');
                        $.messager.alert('提示','删除成功！！！');
                    });
                }
            });
        }
    }
</script>

</body>
</html>